html {
    scroll-behavior: smooth;
}

body{
    background-image:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.686)), url(img/fondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: aliceblue;

}

li{
    list-style: none;

}

a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 28px;
}

ul{
    display: flex;
    gap: 200px;
    text-align: center;
    justify-content: center;
}

header{

    padding: 1rem;
    background-color: rgba(0, 255, 213, 0.247);
    border-radius: 1rem;
    border: solid 2px;
}

.caja {
    background:
    linear-gradient(rgba(37, 35, 35, 0.63), rgba(58, 61, 61, 0.63), rgba(107, 109, 107, 0.63), rgba(153, 149, 153, 0.664));
    ;
    text-align: center;
    border-radius: 2rem;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 15px;
    width: 100rem;
    height: 100rem;
        
}

.caja1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 0 10rem;
}
.caja2 {
    grid-column: 4/6;
    grid-row: 1/2;
    border-radius: 10rem 0;
}

.caja3 {
    grid-column: 2/5;
    grid-row: 2/4;

}

.caja4 {
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 10rem 0; 
}

.caja5 {
    grid-column: 4/6;
    grid-row: 4/5;
    border-radius: 0 10rem;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 16rem;
}

h1{
    font-family: "Eater", serif;
    text-align: center;
    margin-top: 4rem;
    font-size: 10rem;
    color: rgb(71, 173, 187);
}

@keyframes
