html {
    scroll-behavior: smooth;
}

body{
    background-image:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.686)), url(img/fondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: aliceblue;

}

.inicio{
    list-style: none;
    font-size: 28px;
    font-family: "Story Script", sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 28px;
}

.navegacion{
    display: flex;
    gap: 200px;
    text-align: center;
    justify-content: center;
}

header{

    padding: 1rem;
    background-color: rgba(0, 255, 213, 0.247);
    border-radius: 1rem;
    border: solid 2px;
}

.caja {
    background:
    linear-gradient(rgba(37, 35, 35, 0.63), rgba(58, 61, 61, 0.63), rgba(107, 109, 107, 0.63), rgba(153, 149, 153, 0.664));
    ;
    text-align: center;
    border-radius: 2rem;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 15px;
  width: 100rem;
  height: auto;
  margin: 0 auto 0 auto;

}

.caja1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 0 10rem;
}
.caja2 {
    grid-column: 4/6;
    grid-row: 1/2;
    border-radius: 10rem 0;
}

.caja3 {
    grid-column: 2/5;
    grid-row: 2/4;
    font-size: 28px;

}

.caja3 img{
    border-radius: 1.5rem;
}

.caja3:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgb(116, 195, 221);
}

.caja4 {
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 10rem 0; 
}

.caja5 {
    grid-column: 4/6;
    grid-row: 4/5;
    border-radius: 0 10rem;
}

main{

    justify-content: center;
    margin-top: 16rem;

}

h1{
    font-family: "Eater", serif;
    text-align: center;
    margin-top: 4rem;
    font-size: 10rem;
    color: rgb(71, 173, 187);
}

.izquierda,
.derecha {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease, transform 1s ease;
}

/* Se desvanecen cuando salen */
.izquierda.oculto {
  opacity: 0;
  transform: translateX(-150px);
}

.derecha.oculto {
  opacity: 0;
  transform: translateX(150px);
}

.contenedor2 {
    border-radius: 2rem;
    margin-top: 20px;
    padding: 20px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-family: "Tektur", sans-serif;
}

.habi{
    font-size: 28px;
    margin: 10px;
    font-family: "Aladin", system-ui;
    list-style: none;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100rem;
    height: auto;
    gap: 1rem;
    margin: 0 auto 0 auto;
  
    
}

.python {
    background: 
    linear-gradient(rgba(75, 138, 190, 0.500), rgba(255, 232, 115, 0.500));
    border-radius: 1.5rem;
    text-align: center;
    grid-column: 1/3;

}

.html {
    background: 
    linear-gradient(rgb(255, 128, 0, 0.500), rgba(0, 136, 253, 0.500));
    border-radius: 1.5rem;
    text-align: center;
    grid-column: 3/5;
}

.javascript{
    background: 
    linear-gradient(rgba(240, 219, 79, 0.500), rgba(50, 51, 48, 0.500));
    border-radius: 1.5rem;
    grid-column: 2/4;
    text-align: center;
}

.proximos {
    background: 
    linear-gradient(rgba(255, 255, 255, 0.500), rgba(128, 128, 128, 0.500));
    text-align: center;
    border-radius: 1.5rem;
}

.proximo1 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.proximo1  p{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.603);
    margin-top: 10rem;
}

.proximo2{
    grid-column: 3/5;
    grid-row: 3/4;
}
.proximo2 p{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.603);
    margin-top: 10rem;
}

#second-nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background-color: rgba(51, 34, 90, 0.678);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 auto 0 auto;
}

.iconos{
    display: flex;
    justify-content: center;
    justify-content: space-around;


}

.bi{
    font-size: 50px;
}

footer h2{
    grid-column: 2/3;
}

.redsocial {
    grid-column: 1/2;
    grid-row: 2/3;
}

.containerTwo {
    grid-column: 3/4;
    grid-row: 2/3;
}
